/.PenTablet
/.Trash
/.asdf
/.aws
/.azure
/.bun
/.cache
/.cargo
/.composer
/.cpan
/.cups
/.docker
/.gem
/.gnupg
/.gnupkg-bak
/.hex
/.kube
/.lima
/.lldb
/.local
/.mc
/.mitmproxy
/.mix
/.ncftp
/.npm
/.rustup
/.solargraph
/.ssh
/.vim
/.vnc
/.vscode
/.yarn
/.CFUserTextEncoding
/.DS_Store
/.agent_history
/.aspell.en.prepl
/.aspell.en.pws
/.bash_history
/.ctags
/.default-gems
/.erlang.cookie
/.gitconfig
/.gitignore
/.histfile
/.irbrc
/.lesshst
/.psqlrc
/.rnd
/.ruby-version
/.viminfo
/.vimrc
/.wget-hsts
/.yarnrc
/.zprofile
/.zshenv
/.zshrc

# History files
/.irb_history
/.bun_repl_history
/.mirb_history
/.mysql_history
/.node_repl_history
/.php_history
/.psql_history
/.python_history
/.rdbg_history
/.sqlite_history
/.tig_history
/.zsh_history

# Top Level
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/code
/code-old
/go
/src
/tmp
